.site-primary{
    background-color: var(--primary) !important;
}

.site-secondary{
    background-color: var(--secondary) !important;
}

.site-text-primary {
    color: var(--primary) !important;
}

.site-text-secondary{
    color: var(--primary) !important;
}

.site-blue{
    background-color: var(--blue) !important;
}
