@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
:root {
  --primary: #171821;
  --secondary: #21222d;
  --pink: #f9769d;
  --blue: #96a7ff;
  --white: #ffff; }

.site-primary {
  background-color: var(--primary) !important; }

.site-secondary {
  background-color: var(--secondary) !important; }

.site-text-primary {
  color: var(--primary) !important; }

.site-text-secondary {
  color: var(--primary) !important; }

.site-blue {
  background-color: var(--blue) !important; }

body {
  font-family: 'Roboto', 'sans-serif' !important;
  background-color: var(--primary);
  color: var(--white);
  max-width: 100vw !important; }

.small-search {
  display: none;
  z-index: 10000 !important;
  background-color: var(--secondary); }
  .small-search input {
    background-color: var(--secondary);
    border: none; }
  .small-search .form-control:focus {
    outline: none !important;
    box-shadow: none !important;
    background-color: var(--secondary);
    color: var(--white); }
  .small-search .form-control::placeholder {
    color: var(--white) !important; }

nav .search {
  background-color: var(--secondary); }
  @media screen and (max-width: 576px) {
    nav .search {
      display: none !important; } }
  nav .search input {
    background-color: transparent;
    border: none; }
  nav .search .form-control:focus {
    outline: none !important;
    box-shadow: none !important;
    background-color: var(--secondary);
    color: var(--white); }
  nav .search .form-control::placeholder {
    color: var(--white) !important; }
nav .small {
  display: none; }
  @media screen and (max-width: 576px) {
    nav .small {
      display: block !important; } }
nav .user {
  width: 50px;
  height: 50px;
  border: 1px solid #ffffff; }
  nav .user img {
    object-fit: contain;
    height: 100%; }
nav .icons {
  display: inline; }

.sidebar {
  max-width: 100px; }
  @media screen and (max-width: 576px) {
    .sidebar {
      position: absolute !important;
      right: 0 !important;
      bottom: 0 !important;
      left: 0 !important;
      z-index: 1030 !important;
      min-width: 100vw !important; } }
  @media screen and (min-width: 772px) {
    .sidebar {
      height: 100vh !important;
      position: relative !important; } }
  .sidebar div.side-icons > div a.active::before {
    content: "";
    background-color: var(--pink);
    width: 2px;
    position: absolute;
    margin: 10px;
    top: 0;
    bottom: 0;
    left: 0; }
  .sidebar a {
    color: #cccccc;
    right: 0; }
    .sidebar a.active {
      color: var(--pink) !important; }

.progress-circular {
  background: conic-gradient(var(--pink), 3.6deg var(--primary) 0deg);
  height: 120px;
  width: 120px;
  margin: 10px 0;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; }
  .progress-circular::before {
    content: '';
    position: absolute;
    background: var(--secondary);
    height: 100px;
    width: 100px;
    border-radius: 50%; }

.progress-value {
  color: var(--blue);
  position: relative; }

.rectangle {
  width: 80px;
  height: 80px;
  background-color: var(--secondary);
  border-radius: .5em; }

.user-links {
  display: none;
  transition: transform .2s ease-in-out;
  width: 200px;
  left: -50px !important;
  margin: 10px 0 0 0; }
  @media only screen and (min-width: 992px) {
    .user-links {
      left: -200% !important; } }
  @media only screen and (max-width: 992px) {
    .user-links {
      left: -200% !important; } }
  @media only screen and (max-width: 576px) {
    .user-links {
      left: -300% !important; } }

.user-img {
  cursor: pointer; }

.hr {
  border-bottom: 1px solid #cccccc;
  height: 10px;
  width: 200px;
  margin-right: 5px;
  margin-left: 5px; }

.form-control {
  box-shadow: none !important; }

.form-control-check {
  width: 100px !important;
  accent-color: var(--pink);
  display: none; }
  .form-control-check:checked + .box-content {
    background-color: var(--pink); }
  .form-control-check:checked + .box-content::before {
    transform: translateX(80%); }

.box-content {
  margin-bottom: 5px;
  position: relative;
  height: 30px;
  cursor: pointer;
  width: 50px;
  border-radius: 3rem;
  background-color: #cccccc;
  transition: .2s ease-in-out; }
  .box-content::before {
    content: '';
    height: 25px;
    width: 25px;
    border-radius: 50%;
    position: absolute;
    margin: 2.5px;
    background-color: #fff;
    transition: .2s ease-in-out; }

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center; }

input.floating {
  background-color: var(--secondary); }
  input.floating:focus, input.floating:not(:placeholder-shown) {
    border: 1px solid var(--pink);
    background-color: var(--secondary);
    color: var(--white); }
    input.floating:focus ~ .float-label, input.floating:not(:placeholder-shown) ~ .float-label {
      transform: translateY(-30px);
      color: var(--pink); }

.error {
  border: 1px solid #ff0000; }

.msg-display {
  animation: fade .2s ease-in-out; }
  .msg-display span {
    font-size: 20px; }
  .msg-display.error {
    color: #ff0000 !important; }
  .msg-display.success {
    color: var(--bs-green) !important; }

.float-label {
  color: var(--white);
  left: 10px;
  padding: 5px;
  transition: transform .2s ease-in-out;
  background-color: var(--secondary); }

@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.credit-card {
  width: 500px !important;
  height: 300px !important; }
  .credit-card .position-absolute {
    width: 450px !important;
    bottom: 50px !important; }
  .credit-card span {
    font-size: 12px; }

.add-card {
  width: 50px !important;
  height: 50px !important; }

.w-500 {
  width: 500px !important; }
  @media screen and (max-width: 576px) {
    .w-500 {
      width: 400px !important; } }

/*# sourceMappingURL=style.css.map */
